<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeartRate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB3068E21DD1A91000F0BE5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA2D60C1DBF9B7300728078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA2D6231DBF9BA200728078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA2D64C1DBF9BB600728078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA2D6741DBF9BD300728078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
